<!DOCTYPE html>
<html>
<title>help Page</title>
<head>
    <link rel="icon" href="./img/text-html.png">
    <link rel="stylesheet" href="./css/aap.css">
</head>
<body><h1></h1>
    {{>header}}
    <div class="main_content">{{title}}</div>
    {{>footer}}
</body>
</html>