<!DOCTYPE html>
<html>
<title>help Page</title>
<head>
    <link rel="icon" href="./img/text-html.png">
    <link rel="stylesheet" href="./css/aap.css">
    
</head>
<body><h1></h1>
    {{>header}}
    <div class="main_content">{{title}}
        <form class="weather">
            <input class="weather_val" placeholder="Location">
            <button>Submit</button>
            <div id="loading" style="display: none;">
                <p>Loadin......</p>
            </div>
            <div id="curr_temp" style="display: none;">
                <p><strong>Location: </strong><span class="location"></span></p>
                <p><strong>Current Temprature: </strong><span class="temp"></span></p>
            </div>
            
        </form>
    </div>
    {{>footer}}
    <script src="./js/aap.js"></script>
</body>
</html>